<div class="container" id="blog-create" 
{{#if blogPosts}}
data-blog-id="{{blogPosts.id}}"
{{/if}}>
    <h2 class="title is-2 pt-5 pb-5" id="user-id" 
    data-user-id="{{user_id}}">{{#if blogPosts}}Edit your post!{{else}}
        Make a post!{{/if}}</h2>
    <form class="post-form">
        <div class="field">
            <label class="label" for="new-title">Title:</label>
            <div class="control">
                
                <input class="input" type="text" id="new-title" 
                {{#if blogPosts}} value="{{blogPosts.title}}" {{/if}}/>
                
            </div>
        </div>
        <div class="field">
            <label class="label" for="new-body">Body:</label>
            <div class="control">

                <input class="textarea" type="dropdown" id="new-body" 
                {{#if blogPosts}} value="{{blogPosts.body}}"{{/if}} />

            </div>
        </div>

        <div class="field">
            <div class="control has-text-centered">
                {{#if blogPosts}}
                <button class="button is-primary" id="update" type="submit">Update</button>
                {{else}}
                <button class="button is-primary" id="post" type="submit">Post</button>
                {{/if}}
            </div>
        </div>
    </form>
</div>

<script src="./js/create-edit.js"> </script>