<div class="container" id="blog-all">
    <div class="container" id="blogs">
        {{#if userPosts}}
        <h2 class="title is-2 pt-5" id="user-id" data-user-id="{{user_id}}">My Posts</h2>
        {{else}}
        <h2 class="title is-2 pt-5" id="user-id" data-user-id="{{user_id}}">All Posts</h2>
        {{/if}}

        {{#if logged_in}}
        <div class="column">
            <a href="/blogs/create">
                <button class="button is-small is-success m-0 p-4 is-full is-size-6">+ Post</button>
            </a>
        </div>
        {{else}}
        <h4 class="has-text-centered pt-1 pb-1 is-size-4">Please <a href="/login">login</a> or <a href="/signup">sign
                up</a> to add a post
        </h4>
        {{/if}}
        {{#each blogPosts as |post| }}
        <div class="container">

            <div class="card">
                <div class="blog-post">
                    <a href="/{{id}}" class="has-text-black">
                        <div class="card-content">
                            <h4 class="is-size-7">{{format_date updatedAt}}</h4>
                            <h2 class="is-size-3 has-text-weight-bold">{{title}}</h2>

                            <h3 class="is-size-5 has-text-weight-light has-text-success is-underlined">{{User.username}}
                            </h3>
                            <h4 class="is-size-6">
                                <span class="has-text-weight-bold"> Number of Comments: </span>
                                {{commentsLength}}
                            </h4>
                        </div>
                </div>
                </a>
                <button href="/{{id}}" class="button is-small is-info p-4 is-size-6 view-blog"
                    data-blog-id="{{id}}">View</button>
                <button class="button is-small is-warning edit-blog is-hidden m-0 p-4 is-full is-size-6"
                    data-blog-id="{{id}}" data-blog-owner="{{User.id}}">Edit</button>
                <button class="button is-small is-danger delete-blog is-hidden m-0 p-4 is-full is-size-6"
                    data-blog-id="{{id}}" data-blog-owner="{{User.id}}">Delete</button>


            </div>

        </div>
        <hr>
        {{/each}}
    </div>

    <script src="./js/homepage.js"></script>
</div>