<div class="container" id="blog-all">
    <div class="container" id="blogs">
        <h2 class="title is-2" id="user-id" data-user-id="{{user_id}}">All Posts</h2>

        {{#each blogPosts as |post| }}
        <div class="container">
            <a href="/{{id}}">
                <div class="card">
                    <div class="blog-post">
                        <div class="card-content">
                            <h4 class="is-size-7">{{format_date updatedAt}}</h4>
                            <h2 class="is-size-3 has-text-weight-bold">{{title}}</h2>

                            <h3 class="is-size-5 has-text-weight-light has-text-success is-underlined">{{User.username}}
                            </h3>
                            <h4 class="is-size-6">
                                <span class="has-text-weight-bold"> Number of Comments: </span>
                                {{commentsLength}}
                            </h4>
                        </div>
                    </div>
                    <button href="/{{id}}" class="button is-small is-info p-4 is-size-6"
                        data-blog-id="{{id}}">View</button>
                    <button class="button is-small is-warning edit-blog is-hidden m-0 p-4 is-full is-size-6"
                        data-blog-id="{{id}}" data-blog-owner="{{User.id}}">Edit</button>
                    <button class="button is-small is-danger delete-blog is-hidden m-0 p-4 is-full is-size-6"
                        data-blog-id="{{id}}" data-blog-owner="{{User.id}}">Delete</button>


                </div>
            </a>
        </div>
        <hr>
        {{/each}}
    </div>

    <script src="./js/homepage.js"></script>
</div>